@import "tailwindcss";

.font-ovo {
  font-family: "Ovo", serif;
}
.spin {
  animation: spin 6s linear infinite;
}

/* Custom Scroll Bar */
html::-webkit-scrollbar {
  width: 0.7rem;
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#6d51a5, #e4a7c5);
}

#net-container {
  background-image: url(./images/netflix.png);
}
#qcafe {
  background-image: url(./images/MixCollage-29-Jul-2025-10-21-PM-5130.jpg);
}

/* nav ul li a{
  border-bottom-width: 0;
  transition: all 0.3s ease-in-out;
  border-color: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
}
nav ul li a:hover{
 border-bottom-width: 100%;
} */

#cursor {
  width: 45px;
  height: 45px;
  background: linear-gradient(#6d51a5, #e4a7c5);
  position: fixed;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
